div.iRptmS.admin-bro_Text {
    display: none;
}
section.sc-egiyK.bNVkKb.admin-bro_Box {
    display: none;
}
img.hNoYXO{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section.eDRpTY {
    height: 500px;
    background-color: #20273E;
    border: 1px solid #2E324A;
    box-shadow: none;
    color: #ffffff
}
section.dJEHbC {
    background-color: #192035;
  }
button.bbXMwQ {
    background-color: #485899;
}
section.iELcjV {
    background-color: #20273E; 
    border-right: 1px solid #2E324A; 
    color:#ffffff;
}
section.iWHodP {
    background-color: #192035;
} 

section.cRCVOs{
    background-color: #20273E;
    border: 1px solid #2E324A;
}
section.djceEc  {
    background-color: #20273E; 
    color: #ffffff; 
    border-bottom: 1px solid #2E324A;
}
span.dqTeSL {
    color:#ffffff;
}
button.jQUrkt{
    border: 1px solid #2E324A;
    color:#ffffff; 
}
button.iVRifC{
    border: 1px solid #2E324A;
    color:#ffffff;   
}
a.crtAEj{
    color: #ffffff;
}
section.iSDkwJ{
    background-color: #192035;
    color: #ffffff;
}
section.brtgQr {
    background-color: #20273E;  
}

thead.dZwkzQ{
    background-color: #2E324A;
} 
td.evAAGQ{

    border-bottom: 1px solid #2E324A;

}
td.iIxmbw {
    border-bottom: 1px solid #2E324A;
}
td.jMouMF{
    border-bottom: 1px solid #2E324A;
} 
